:root {
  --background: #f3f5df;
  --header-font: "Nunito", sans-serif;
  --body-font: "Roboto", sans-serif;
}
h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 45px;
}
h2 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 18px;
}
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bold;
  line-height: 20px;
}
p,
.works li {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.icons {
  display: flex;
  flex-direction: row;
}
.home img,
.projects img {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.btn {
  line-height: 27px;
  padding: 15px 30px;
}
.first-section {
  background-color: var(--background);
}
.second-section {
  background-color: var(--background);
}
.column {
  width: 50%;
}
.row {
  --bs-gutter-x: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.experience img {
  width: 50px;
}
.contact-info {
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}
.logo {
  max-height: 60px;
  border-radius: 12px;
  padding-left: 10px;
}
.brand {
  font-family: var(--header-font);
  font-size: 25px;
  font-weight: bolder;
  padding-left: 10px;
  line-height: 50px;
}
.navlinks {
  display: flex;
  margin: 0;
  padding: 0;
}
.navlinks li {
  list-style: none;
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 50px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: green;
  transition: all 100ms ease-in-out;
}
footer {
  font-family: var(--header-font);
  background-color: var(--background);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.active a {
  color: green;
  font-weight: bold;
}
ul {
  list-style: none;
}
.social-icons,
.social-icons-colored {
  margin: 0;
  list-style-type: none;
}
.social-icons li,
.social-icons-colored li {
  display: inline-block;
  margin-right: 0px;
}
.social-icons-colored li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 18px;
}
.social-icons-rounded a {
  border-radius: 100%;
}
@media (max-width: 576px) {
  .column {
    width: 100%;
    text-align: center;
  }
  .btn {
    display: none;
  }
  .container img {
    display: none;
  }
  .projects-section {
    text-align: center;
  }
  .experience img {
    display: none;
    margin-top: 0;
  }
  .experience h4 {
    margin-top: 0;
  }
  li {
    font-size: 12px;
  }
}
