:root {
  --background: #f3f5df;
  --header-font: "Nunito", sans-serif;
  --body-font: "Roboto", sans-serif;
}
h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 45px;
  margin: 0 0 36px 0;
}
h2 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 18px;
}
p {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 18px;
}
i {
  padding: 0 15px;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-top: 52px;
}
img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.first-section {
  background-color: var(--background);
  padding-right: 30px;
  padding-left: 10%;
}
.second-section {
  background-color: var(--background);
  padding-left: 30px;
}
.column {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.navbar-brand {
  font-family: var(--header-font);
  font-weight: bolder;
}
.navbar-collapse {
  font-family: var(--header-font);
  justify-content: end;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
  .first-section {
    padding-left: 30px;
    padding-top: 30px;
  }
  .icons {
    display: none;
  }
}
